body{
	font-family: "Arial", sans-serif;
}

.dropzone{
	width: 300px;
	height: 300px;
	border: 2px dashed #ccc;
	color: #ccc;
	line-height: 300px;
	text-align: center;
}

.dropzone.dragover{
	border-color: #000;
	color: #000;
}
.progressBar{
	display: none;
	background: #99FF66;
	color: #000;
	margin-top: 10px;
	width: 300px;
	height: 20px;
	text-align: center;
	border-radius: 10px;
}
.contenteditable{
	width: 0px;
	height: 0px;
}